main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all{
    height: 85%; 
    width: 85%; 
    max-width: 1550px;
    background-color:#efe9e4;
}


@media (max-width: 750px) {
    main{
        justify-content: space-evenly;
    }
}

footer{
    height: 85%; 
    width: 85%; 
    max-width: 1550px;
}

.footer{
    padding: 30px;
    font-size: large;
    color: #FFF;
    background-color:#5e5343;
    text-align: center;
}

.svg > text{
    color: red;text-decoration: underline;
}